# Set powertop when plug/unplug AC  
SUBSYSTEM=="power_supply", ATTR{online}=="0", RUN+="/bin/sh /etc/pm/power.d/powertop.sh"
SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/bin/sh /etc/pm/power.d/powertop.sh"
